/* WELCOME */
/* MERCH AND APPAREL */
/* ITEM DETAIL */
/* CHECKOUT  */
/* CART */
.jumbotron {
  background: RGBA(255, 255, 255, .5);;
  color: white;
}
#showcase {
  background-image: url(https://i.ytimg.com/vi/BYdMgFWYUto/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.wrapper {
  grid-template-columns: 25% 25% 25% 25%;
  display: inline-grid;
  padding: 5% 5% 5% 5%;

}

#id {
  padding-top: 5%;
}

.table-header row {
  border-top: none !important;
}

h1 {
	font-size: 45px;
	
}

h5 {
  color: white;
}

#welcome-page:link {
	color: white;
}


#welcome-page {
	margin: 10%;
	margin-top: 1%;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	background: RGBA(255, 255, 255, .5);
	border-radius: 10px;
    width: 80%;
    height: 35%;
    text-align: center;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {}

a:active{}