<div class="page-header row">
    <h1 class="col-md-12">MERCH</h1>
</div>

<div class="clear list-group">
    <div class="list-group-item" ng-repeat="m in merch" ng-controller="MerchController">
        <img src="{{ m.imageurl }}" width="150" height="150">
        <h3>{{ m.name }}</h3>
        <h5>{{ m.description }} {{ m.price }}</h5>
        
        <p>
            <a class="btn btn-info" role="button" ng-href="/{{ m.id }}" ng-click="addToCart()">ADD TO CART</a>
        </p>
    </div>
</div>